*{
    padding: 0;
    margin: 0;
}

.container{
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.input{
    position: relative;
    margin: 1em;
}

.input label{
    position: absolute;
    background: white;
    top: -.6em;
    padding: .1em;
    left: .3em;
    border-radius: 1em;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    z-index: 1;
}

.input input{
    position: relative;
    padding: .6em;
    background-color: transparent;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
    box-shadow: none;
    outline: none;
}

.form{
    display: grid;
    place-content: center;
    padding: 2em;
    gap: 1.2em;
}

.form button{
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    border: none;
    background-color: rgb(44, 89, 235);
    color: white;
    padding: .5em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.card{
    background-color: rgb(6, 41, 157);
    color: white;
    padding: 1em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border: solid 2px black;
    box-shadow: 3px 10px 50px 0px rgba(0, 0, 0, 0.5);
    display: grid;
    gap: .6em;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.icono i{
    font-size: 7em;
}

.icono{
    width: calc(1005 - 1.5em);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.fa-sun{
    color: rgb(238, 194, 0);
}

.error{
    color: red;
}